#
# Executes commands at the start of an interactive session.
#

# Source Prezto.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# User paths.
typeset -gU path PATH
path=(
  "$HOME/.local/bin"
{{- if eq .chezmoi.os "darwin" }}
  /opt/{homebrew,local}/{,s}bin(N)
  /usr/local/{,s}bin(N)
{{- end }}
  $path
)
{{- if eq .chezmoi.os "darwin" }}
[[ -d "$HOME/.lmstudio/bin" ]] && path+=("$HOME/.lmstudio/bin")
{{- end }}
export PATH

# User environment.
export EDITOR='zed -w'
export VISUAL='zed -w'

# Rustup/Cargo.
[[ -r "$HOME/.cargo/env" ]] && source "$HOME/.cargo/env"

# Node.js version management.
if (( $+commands[fnm] )); then
  eval "$(fnm env --use-on-cd)"
fi

# Prompt.
eval "$(starship init zsh)"

# Google Cloud helpers.
get_gcloud_secret() {
  gcloud secrets versions access latest --secret="$1"
}

# Custom Claude Code
claude-lighthouse() {
  ANTHROPIC_BASE_URL=http://lighthouse:1234 claude --model qwen/qwen3.6-27b "$@"
}

# opencode
export PATH=/Users/sguo/.opencode/bin:$PATH
