personality = "pragmatic"
model = "gpt-5.5"
model_reasoning_effort = "xhigh"

approval_policy = "on-failure"

{{ if eq .chezmoi.os "darwin" }}
notify = ["{{ .chezmoi.homeDir }}/.codex/computer-use/Codex Computer Use.app/Contents/SharedSupport/SkyComputerUseClient.app/Contents/MacOS/SkyComputerUseClient", "turn-ended"]
{{ end }}

[features]
multi_agent = true
memories = true
js_repl = false

[plugins."github@openai-curated"]
enabled = true

[plugins."computer-use@openai-bundled"]
enabled = true

[plugins."documents@openai-primary-runtime"]
enabled = true

[plugins."spreadsheets@openai-primary-runtime"]
enabled = true

[plugins."presentations@openai-primary-runtime"]
enabled = true

[plugins."openai-developers@openai-curated"]
enabled = true

[plugins."cloudflare@openai-curated"]
enabled = true

[plugins."build-macos-apps@openai-curated"]
enabled = true

[plugins."build-web-apps@openai-curated"]
enabled = true

[plugins."chatgpt-apps@openai-curated"]
enabled = true

[plugins."atlassian-rovo@openai-curated"]
enabled = true

[plugins."outlook-email@openai-curated"]
enabled = true

[plugins."gmail@openai-curated"]
enabled = true

[plugins."browser-use@openai-bundled"]
enabled = true

[plugins."chrome@openai-bundled"]
enabled = true

{{ if eq .chezmoi.os "darwin" }}
[marketplaces.openai-bundled]
last_updated = "2026-06-18T02:45:31Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.codex/.tmp/bundled-marketplaces/openai-bundled"

[marketplaces.openai-primary-runtime]
last_updated = "2026-05-07T12:36:30Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.cache/codex-runtimes/codex-primary-runtime/plugins/openai-primary-runtime"

[projects."{{ .chezmoi.homeDir }}"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/Documents/Career/Teaching/canvas_auto_marking"]
trust_level = "trusted"

{{ end }}
[memories]
generate_memories = true
use_memories = true
disable_on_external_context = false

[mcp_servers.node_repl]
args = []
command = "/Applications/Codex.app/Contents/Resources/cua_node/bin/node_repl"
startup_timeout_sec = 120

[mcp_servers.node_repl.env]
NODE_REPL_NATIVE_PIPE_CONNECT_TIMEOUT_MS = "1000"
NODE_REPL_NODE_MODULE_DIRS = "/Applications/Codex.app/Contents/Resources/cua_node/lib/node_modules"
NODE_REPL_NODE_PATH = "/Applications/Codex.app/Contents/Resources/cua_node/bin/node"
NODE_REPL_TRUSTED_CODE_PATHS = "/Users/sguo/.codex"
CODEX_HOME = "/Users/sguo/.codex"
NODE_REPL_TRUSTED_BROWSER_CLIENT_SHA256S = "eb55d24cf065cd5311af6f99b16bade2b7a670790ff2db9accf60d012dd55dd1"
BROWSER_USE_AVAILABLE_BACKENDS = "chrome,iab"
NODE_REPL_INSTRUCTIONS_USE_CASE_BROWSER = "Control the in-app browser in conjunction with the Browser Plugin."
NODE_REPL_INSTRUCTIONS_USE_CASE_CHROME = "Control the Chrome browser in conjunction with the Chrome Plugin. Prefer this method of controlling Chrome over alternatives (such as Computer Use) unless the user explicitly mentions an alternative."
BROWSER_USE_CODEX_APP_BUILD_FLAVOR = "prod"
BROWSER_USE_CODEX_APP_VERSION = "26.611.62324"
CODEX_CLI_PATH = "/Applications/Codex.app/Contents/Resources/codex"
